body {
  color: var(--backgroundText);
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:hover {
  background-color: #bebebe;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

button.primary {
  background-color: var(--primary);
  color: white;
}

:root {
  --background: #111111;
  --foreground: #252525;
  --backgroundText: #f0f0f0;
  --foregroundText: #b3b3b3;

  --primary: #1598ef;
  --secondary: #ff6347;
  --error: #d42d44;

  --listDividerColor: rgba(255, 255, 255, 0.75);

  --tooltipBackgroundColor: var(--background);

  --modeChipBackgroundColor: #d8d8d8;
  --modeChipTextColor: rgb(0, 0, 0);

  --easyChipBackgroundColor: #2cc973;
  --easyChipTextColor: white;

  --normalChipBackgroundColor: #1598ef;
  --normalChipTextColor: white;

  --hardChipBackgroundColor: #ff6347;
  --hardChipTextColor: white;

  --expertChipBackgroundColor: #d42d44;
  --expertChipTextColor: white;

  --expertPlusChipBackgroundColor: #8f47db;
  --expertPlusChipTextColor: white;

  --scrollbarPrimaryColor: var(--primary);
  --scrollbarSecondaryColor: var(--secondary);

  --beatmapKeyIconColor: gold;
  --beatmapUpvotesIconColor: #2cc973;
  --beatmapDownvotesIconColor: #d42d44;
  --beatmapDownloadsIconColor: #1598ef;
  --beatmapRatingIconColor: #ff6347;

  --beatmapListItemCoverImgSize: 150px;

  --toastBackgroundColor: var(--primary);
  --toastTextColor: white;

  --buttonHoverColor: #1598ef6c;
}
