//
// MDC Theme
//
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "@material/layout-grid/dist/mdc.layout-grid";
@import "@material/elevation/dist/mdc.elevation";
@import "@material/theme/color-palette";

// $material-icons-font-path: "~material-icons/iconfont/";

// @import "material-icons/iconfont/material-icons.scss";

// .material-icons {
//   @include material-icons();
// }

// Svelte Colors!
$mdc-theme-primary: #ff3e00;
$mdc-theme-secondary: #676778;
// Other Svelte color: #40b3ff

$mdc-theme-background: rgb(184, 179, 179);
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;
